:root{
    --font-size-logo : 1em;
    --font-size-nav : 2vw;
    --font-size-title : 3vw;
    --font-size-s-title : 2.8vw;
    --font-size-text : 1.5vw;
  
      --font-family: 'Roboto', sans-serif;
  
      --font-color_principle: #fffbe4;
      --background-color-1 : #0d1131;
      --background-color-2 : #4355ff;
      --background-color-3 : #000000;
      --background-color : linear-gradient(#000000, #0d1131, #4355ff);
      --waves-color : #ffffff2f;
      --max-width: 1250px;
  }
  html{
      scrollbar-width:none;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:
    url('assets/img/cursor/cursor.cur'), 
    url('assets/img/cursor/cursor.svg'), 
    url('assets/img/cursor/cursor.png'), 
    auto;
  }
  a:hover{
    cursor: pointer;
  }
  body{
    font-family: var(--font-family);
    overflow-x: hidden;
    overscroll-behavior: none;
    background: var(--background-color-3);
  }
  h1{
    font-size: var(--font-size-title)
  }
  h2{
    font-size: var(--font-size-s-title)
  }
  h3{
    font-size: var(--font-size-text)
  }

@media screen and (max-width : 950px){
  #page1 .paragraph .text{
      padding-left: 0;
      padding-right: 0;
  }
}
@media screen and (max-width : 500px){
  :root{
    --font-size-logo : 1em;
    --font-size-nav : 3vw;
    --font-size-title : 5vw;
    --font-size-s-title : 4vw;
    --font-size-text : 3.5vw;
  
  }
  #welcome_page h1{
    font-size: 10vh;
  }
  header{
    display: none;
  }
  #page1{
    flex-direction: column;
  }
  #page1 .paragraph .text{
      padding-left: 10vw;
      padding-right: 10vw;
  }
  #page1 #profile{
    margin-top: 5vh;
  }
  #page2 .container{
    justify-content: space-around;
  }
  #page2 .hide ul .description{
    font-size: var(--font-size-text);
  }
  #page2 .logo{
    height: 15vw;
  }
  #page2 .case .paragraph .text:nth-child(2){
    font-size: 3vw;
  }
  #page2 .item{
    margin-bottom: 2vh;
  }
  #page2 .case{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 80vw;
  }
  #page2 .hide{
  }
  #page3{
    padding-top: 12vh;
    height: fit-content;
  }
  #page3 .case{
    width: 80vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
  #page3 .container{
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
  #page3 .item{
    height: fit-content;
    width: fit-content;
    padding: 0;
  }
  #page3 .list-item{
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #page3 .shadow{
    width: 20vw;
  }
  #page3 .logo{
    height: 20vw;
  }
  #page3 .wrapper h3, #page3 .wrapper data{
    margin-right: 1vw;
    font-size: var(--font-size-text);
  }
  #page4 .container>.text{
    width: 80vw;
  }
  #page4 .case{
    width: 80vw;
    flex-direction: column-reverse;
    align-items: center;
  }
  #page4 .case .paragraph{
    width: 80vw;
  }
  #page4 .case .item .background{
    opacity: 0;
  }
  footer{
    flex-direction: column;
  }
  footer .item a{
    font-size: var(--font-size-text);
  }
}


/* KEY FRAMES */
@keyframes progress-bar95-entry {
    0% {
      width: 0%;
    }
    95% {
      width: 95%;
    }
  }
  @keyframes progress-bar90-entry {
    0% {
      width: 0%;
    }
    90% {
      width: 90%;
    }
  }
  @keyframes progress-bar85-entry {
    0% {
      width: 0%;
    }
    85% {
      width: 85%;
    }
  }
  @keyframes progress-bar80-entry {
    0% {
      width: 0%;
    }
    80% {
      width: 80%;
    }
  }
  @keyframes progress-bar70-entry {
    0% {
      width: 0%;
    }
    70% {
      width: 70%;
    }
  }